@font-face {
  font-family: 'Noto Serif';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local(''),
    url(/assets/fonts/notoserif/noto-serif-normal-400.woff2)
      format('woff2');
}

@font-face {
  font-family: 'Overpass Mono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local(''),
    url(/assets/fonts/overpassmono/overpass-mono-normal-400.woff2)
      format('woff2');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local(''),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2)
      format('woff2'),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff) format('woff');
}
