.card {
  max-width: unset;
}

.card .card-image {
  max-height: 90vh;
  overflow: hidden;
}

.card img {
  object-fit: cover;
}

.card .card-content {
  margin: 0;
  padding-top: var(--space-m);
  padding-bottom: var(--space-l);
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

.card h2 {
  font-size: var(--size-step-1);
  /* margin-bottom: var(--space-s) */
}

.card h2 a,
.card h3 a {
  text-decoration: underline;
}

.card time {
  opacity: 0.8;
}

/* .card:hover,
.card:focus-within {
  border-top-color: var(--color-primary);
  border-bottom-color: var(--color-primary);
} */

.card a {
  text-decoration: none;
}

.card:focus-within a:focus {
  outline: none;
}
