.card {
  border-top: 3px solid var(--color-dark);
  border-bottom: 3px solid var(--color-dark);
  max-width: unset;
}

.card ::selection {
  color: var(--color-dark);
  background: var(--color-secondary);
}

.card ::selection {
  color: var(--color-dark);
  background: var(--color-secondary);
}

.card .card-image {
  max-height: 15em;
  overflow: hidden;
}

.card img {
  object-fit: cover;
}

.card .card-content {
  margin: 0;
  padding: var(--space-l);
}

.card h2 {
  font-size: var(--size-step-2);
}

.card h2 a,
.card h3 a {
  text-decoration: none;
}

.card time {
  opacity: 0.8;
}

.card:hover,
.card:focus-within {
  border-top-color: var(--color-primary);
  border-bottom-color: var(--color-primary);
}

.card a {
  text-decoration: none;
}

.card:focus-within a:focus {
  outline: none;
}
