.prose {
  --flow-space: var(--space-m-l);
  --wrapper-max-width: 55rem;
}

.prose :is(h2, h3, h4) {
  --flow-space: var(--space-xl-2xl);
}

.prose :is(h2, h3, h4) + * {
  --flow-space: var(--space-s-m);
}

.prose .heading-anchor:is(:hover, :focus) {
  text-decoration: underline;
}
.prose .heading-anchor {
  text-decoration: none;
}

.prose mark {
  background: var(--color-primary-glare);
}

.prose p, .prose li {
  max-width: 100%;
}

.prose li {
  padding-right: 2rem;
}