.site-head {
  position: absolute;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-head-left {
  display: flex;
  align-items: center;
}

.site-head-left svg {
  padding-right: 0.5rem;
}

