---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog">
  <div class="wrapper flow prose">
    <div class="post-header">
      <img src="/assets/images/posts/{{ image }}" />
      <h1>{{ title }}</h1>
    </div>

    {% set definedDate = date %} {% include "partials/date.njk" %}

    {{ content | safe }}
  </div>
</article>
