---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
  "name": "{{ meta.siteName }} - {{ meta.siteDescription }}",
  "short_name": "{{ meta.siteName }}",
  "start_url": "{{ meta.url }}",
  "theme_color": "{{ meta.themeColor }}",
  "background_color": "{{ meta.themeBgColor }}",
  "display": "standalone"
}