<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="site-head" role="banner">
  {% include "partials/menu.njk" %}
  <div class="site-head-right">
    <div class="dark-toggle">
      <label for="toggle" class="toggle__label">
        <span class="toggle__text">Toggle Dark Mode</span>
        <input type="checkbox" name="toggle" id="toggle" class="toggle__checkbox"> 
        {% include "svg/dark-mode.svg" %}
      </label>
    </div>
  </div>
</header>
