<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="site-head ontop" role="banner">
  {% include "partials/menu.njk" %}
  <div class="site-head-right">
    <nav class="navbar">
      <ul>
        <li><a href="/" class="nav">Ben Chadfield</a></li>
      </ul>
    </nav>
    <div class="dark-toggle">
      <label for="toggle" class="toggle__label">
        <span class="toggle__text">Toggle Dark Mode</span>
        <input type="checkbox" name="toggle" id="toggle" class="toggle__checkbox"> 
        {% include "svg/dark-mode.svg" %}
      </label>
    </div>
  </div>
</header>
