<nav id="mainnav" class="navbar menu" aria-label="Main">
  <ul>
    {% for item in navigation.top %}
    <li>
      <a
        class="nav"
        href="{{ item.url }}"
        {{
          helpers.getLinkActiveState(item.url, page.url) | safe
        }}
        >{{ item.text }}</a
      >
    </li>
    {% endfor %}
  </ul>
</nav>

<template id="burger-template">
  <button type="button" aria-expanded="false" aria-label="Menu" aria-controls="mainnav">
    <span>Menu</span>
  </button>
</template>
